.login{
  display: flex;
  height: 27rem;
  width: 27rem;
  margin-left: auto;
  margin-right: auto;
}

.login-form{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}